body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f9f9f9;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
