<main class="divider">
    <section class="products">
      <h2>My Cart</h2>

      <template id="cart">
        <ul class="product-list">
          <li class="cart-card divider">
            <a href="#" class="cart-card__image">
              <img src="" alt="" />
            </a>
            <a href="#">
              <h2 class="card__name"></h2>
            </a>
            <p class="cart-card__color"></p>
            <p class="cart-card__quantity"></p>
            <p class="cart-card__price"></p>
          </li>
        </ul>
      </template>
    </section>
  </main>